<h1>BackOffice::Bundles#index</h1>
<p>Find me in app/views/back_office/bundles/index.html.erb</p>

<p id="notice"><%= notice %></p>

<h1>card_bundles</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @card_bundles.each do |card_bundle| %>
        <tr>
            <td><%= card_bundle.bundle_number %></td>
            <td><%= link_to 'Show', [:back_office, card_bundle] %></td>
            <td><%= link_to 'Edit', edit_back_office_card_bundle_path(card_bundle) %></td>
            <td><%= link_to 'Destroy', [:back_office, card_bundle], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Card bundle', new_back_office_card_bundle_path %>
