<%= form_with(model: [:back_office, bundle]) do |form| %>

    <%= render "/shared/form_errors", active_model_object: bundle %>

    <div>
        <%= form.label :bundle_number %>
        <%= form.text_field :bundle_number, placeholder: t("activerecord.attributes.bundle.bundle_number") %> &nbsp; <%= bundle.status.humanize unless bundle.id.nil? %>
    </div>

    <div>
        <%= form.label :current_quantity %>
        <%= form.text_field :current_quantity, placeholder: t("activerecord.attributes.bundle.current_quantity") %>
    </div>

    <div>
        <%= form.label :current_assignee %>
        <%= form.collection_select :current_assignee_id, @agents, :id, :full_name_with_identifier,
                                   { include_blank: true  } %>
    </div>

    <div>
        <%= form.label :parent_bundle %>
        <%= form.collection_select :parent_bundle_id, @available_parent_bundles, :id, :bundle_number,
                                   { include_blank: true }  %>
    </div>

    <div>
        <%= form.label :released %>
        <%= form.check_box :released %>
    </div>

    <div class="form-actions">
        <%= link_to t("forms.shared.actions.cancel"), back_office_bundles_path,
                    class: "button",
                    data: { confirm: t("forms.shared.actions.confirm_cancel") }%>
        <%= form.submit bundle.id ?
                                t("forms.bundle.actions.update") :
                                t("forms.bundle.actions.create"),
                        { class: "button-primary" } %>
    </div>

    <% if bundle.id %>
        <div class="form-actions danger">
            <%= link_to t("forms.bundle.actions.delete"), [:back_office, bundle], method: :delete,
                        data: { confirm: t("forms.shared.actions.confirm_delete")}, class: "button button-danger"  %>
        </div>
    <% end %>

<% end %>
