<div class="content-section">
    <h6 class="content-header"><%= t("activerecord.models.bundle_transaction") %></h6>

    <table class="u-full-width">
        <thead>
        <tr>
            <th><%= t("activerecord.attributes.shared.created_at") %></th>
            <th><%= t("activerecord.attributes.bundle_transaction.executed_by") %></th>
            <th><%= t("activerecord.attributes.bundle_transaction.transaction_type") %></th>
            <th><%= t("activerecord.attributes.bundle_transaction.quantity") %></th>
            <th><%= t("activerecord.attributes.bundle_transaction.transferee") %></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <% bundle.transactions.chronologically.each do |txn| %>
            <tr>
                <td><%= txn.created_at.to_formatted_s(:timestamp) %></td>
                <td><%= txn.executed_by&.default_name %></td>
                <td data-controller="popover">
                    <%= link_to txn.transaction_type.humanize, "#", data: { action: "click->popover#toggle" } %>
                    <div class="popover" data-popover-target="popoverContainer">
                        <ul class="popover-list">
                            <li class="popover-item popover-text">ID: <%= txn.id %></li>
                            <li class="popover-item popover-text"><%= t("activerecord.attributes.bundle_transaction.logged_by") %>: <%= txn.logged_by.default_name %></li>
                            <li class="popover-item popover-text"><%= t("activerecord.attributes.bundle_transaction.description") %>: <%= txn.description %></li>
                        </ul>
                    </div>
                </td>
                <td><%= txn.quantity %></td>
                <td><%= txn.transferee&.default_name %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

