<%= render layout: "shared/turbo_sub_layout" do %>

    <div class="content-section">
        <h6 class="content-header"><%= t("main_menu.bundles") %></h6>

        <table class="u-full-width">
            <thead>
            <tr>
                <th><%= t("activerecord.attributes.bundle.bundle_number") %></th>
                <th><%= t("activerecord.attributes.bundle.status") %></th>
                <th><%= t("activerecord.attributes.bundle.current_quantity") %></th>
                <th><%= t("activerecord.attributes.bundle.loaded_at") %></th>
                <th><%= t("activerecord.attributes.bundle.loaded_by") %></th>
                <th><%= t("activerecord.attributes.bundle.current_assignee") %></th>
                <th><%= t("activerecord.attributes.bundle.released") %></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <% @bundles.each do |bundle| %>
                <tr>
                    <td><%= bundle.bundle_number %></td>
                    <td><%= bundle.status.humanize %></td>
                    <td><%= bundle.current_quantity %></td>
                    <td><%= bundle.created_at.to_formatted_s(:timestamp) %></td>
                    <td><%= bundle.loaded_by&.first_name %></td>
                    <td><%= bundle.current_assignee&.first_name %></td>
                    <td><%= bundle.released_at&.to_formatted_s(:timestamp) %></td>
                    <td><%= link_to t("forms.bundle.actions.edit"), edit_back_office_bundle_path(bundle) %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>

    <%= link_to t("forms.bundle.actions.create"), new_back_office_bundle_path, class: "button button-primary" %>

<% end %>