<!DOCTYPE html>
<html>
<head>
    <title><%= get_application_name %></title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <%= render "layouts/navbar_#{sub_layout}" %>
    <div class="content-container notice-container">
        <%= yield %>
    </div>
</div>
</body>
</html>
