<!DOCTYPE html>
<html>
<head>
    <title><%= get_application_name %></title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">
    <div class="navbar-spacer"></div>
    <nav class="navbar" data-controller="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><%= link_to t("main_menu.home"), "/", { class: "navbar-link" } %></li>
                <% if current_user %>
                    <li class="navbar-item"><%= link_to t("main_menu.campaigns"), back_office_campaigns_path, class: "navbar-link" %></li>
                    <li class="navbar-item"><%= link_to t("main_menu.bundles"), back_office_card_bundles_path, class: "navbar-link" %></li>
                    <li class="navbar-item"><%= link_to t("main_menu.agents"), "/", class: "navbar-link" %></li>
                    <li class="navbar-item" style="float: right;">
                        <%= link_to current_user.first_name, "#", class: "navbar-link ", style: "margin-right: 0;", data: { popover: "navbar-account-popover" } %>
                        <div id="navbar-account-popover" class="popover">
                            <ul class="popover-list">
                                <li class="popover-item"><%= link_to t("main_menu.account_settings"), "#", class: "popover-link" %></li>
                                <li class="popover-item"><%= link_to t("main_menu.account_logout"), "/logout", class: "popover-link" %></li>
                            </ul>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>

    <div class="row notice-container">
        <%= yield %>
    </div>
</div>

</body>
</html>
