<%= render layout: "shared/turbo_sub_layout" do %>

    <div class="content-section">
        <h6 class="content-header"><%= t("main_menu.users") %></h6>

        <table class="u-full-width">
            <thead>
            <tr>
                <th><%= t("activerecord.attributes.user.name") %></th>
                <th><%= t("activerecord.attributes.user.contact") %></th>
                <th><%= t("activerecord.attributes.user.manager") %></th>
                <th><%= t("activerecord.attributes.user.user_role") %></th>
                <th><%= t("activerecord.attributes.shared.created_at") %></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.full_name %></td>
                    <td><%= user.mobile_number %>
                    <br/>
                        <%= user.email %>
                    </td>
                    <td><%= user.manager&.first_name %></td>
                    <td><%= user.user_role.humanize %></td>
                    <td><%= user.created_at.to_formatted_s(:standard) %></td>
                    <td><%= link_to 'Edit', edit_back_office_user_path(user) %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>

    <%= link_to t("forms.user.actions.create"), new_back_office_user_path, class: "button button-primary" %>

<% end %>